@font-face {
    font-family: "Verdana";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/verdana.woff") format("woff"), 
    url("../fonts/verdana.woff2") format("woff2");
}

@font-face {
    font-family: "Verdana";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/verdanab.woff") format("woff"), 
    url("../fonts/verdanab.woff2") format("woff2");
}

@font-face {
    font-family: "Avenir";
    font-style: normal;
    font-weight: 450;
    font-display: swap;
    src: url("../fonts/avenir_next_cyr_medium.woff") format("woff"), 
    url("../fonts/avenir_next_cyr_medium.woff2") format("woff2");
}

@font-face {
    font-family: "Avenir";
    font-style: normal;
    font-weight: 750;
    font-display: swap;
    src: url("../fonts/avenir_next_cyr_bold.woff") format("woff"), 
    url("../fonts/avenir_next_cyr_bold.woff2") format("woff2");
}