.header {
  background-color: grey;
  padding: 18px 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: flex;
  align-items: center;
}

.language {
  display: flex;
  align-items: center;
  margin-left: 103px;
}

.language__item {
  display: inline-block;
  margin-left: 8px;
  text-decoration: none;
  font-family: 'Avenir', sans-serif;
  font-weight: 450;
  font-size: 16px;
  line-height: 1.38;
  color: var(--white);
}

