.section {
    &--hero {
    padding: 209px 0 168px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  &--foundation {
    padding: 96px 0 84px;
  }

  &--ukraine {
    padding: 430px 0 60px;
    background-color: var(--blue);
    position: relative;
  }

  &--ammunition {
    padding: 84px 0;
  }

  &--details {
    padding-bottom: 84px;
  }
}
