:root {
  --white: #ffffff;
  --black: #000000;
  --blue: #0d529f;
  --grey: #e9e9e9;
  --accent: #ffd238;

  --black-text: #2e2e2e;
  --grey-text: #cdc8c8;
 
  // --grey-text-op60: rgba(255, 255, 255, 0.6);

  // --icon-color: #afb1b8;

  // --background-dark: #2f303a;
  // --background-light: #f5f4fa;

  // --border-color-header: #ececec;
  // --border-color-project: #eeeeee;

  --animation-time: 250ms;
  --animation-function: cubic-bezier(0.4, 0, 0.2, 1);

  // --big-button__font-family: "Roboto", sans-serif;
  // --big-button__font-weight: 700;
  // --big-button__font-size: 16px;
  // --big-button__line-height: 1.875;
  // --big-button__letter-spacing: 0.06em;
}
